.DS_Store
openx
test.txt
config.yaml
easyjson
staticcheck
misspell
aws
openx-backend.pem
openx-frontend.pem
server.crt
server.key
blah
blahopenx.db
debian.deb
ci/ci
ci/secret.txt
ci/lastbuilt.txt
*.gz
*-arm
*-arm64
*-darwinamd64
*-linux386
*-linuxamd64
ideas.md
coverage.txt