Source: openx
Section: utils
Priority: optional
Maintainer: "Varunram Ganesh" <varunramganesh@gmail.com>
Homepage: https://openx.solar

Package: openx
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The official openx package
  Openx is a platform of platforms for next
  generation funding models powered by
  cryptocurrencies developed at the MIT Media
  Lab and Yale OpenLab.
