.main {
  padding: 20 20 20 20px;
}
.key {
  width: 30%;
  display: inline-block !important;
}

.val {
  width: 70%;
  display: inline-block !important;
  float: right;
}

.button {
  margin-top: 15px;
  margin-bottom: 15px;
}
